:root {
    --color-background-page: #FEFAE0;
    --color-background-header: #2e2e2e;
    --color-text-default: #606C38;
    --color-text-header: #FEFAE0;
    --color-accent: #BC6C25;
    --color-link: var(--color-accent);

    --border-default: 2px solid var(--color-accent);

    --font-family-base: 'Livvic', Arial, sans-serif;
    --font-family-display: 'Rammetto One', Impact, sans-serif;

    --font-weight-normal: 400;
    --font-weight-bold: 700;
}

body.dark-mode {
    --color-background-page: #1e1e1e;
    --color-background-header: #2e2e2e;
    --color-accent: #BC6C25;
    --color-text-default: #606C38;
    --color-text-header: #BC6C25;
    --color-link: var(--color-accent);
}