:root {
    --color-text: #283618;
    --color-primary: #5e6d37;
    --color-background-page: #FEFAE0;
    --color-secondary: #DDA15E;
    --color-accent: #BC6C25;
    --color-link: var(--color-accent);

    --border-default: 2px solid var(--color-accent);

    --font-family-base: 'Livvic', Arial, sans-serif;
    --font-family-display: 'Rammetto One', Impact, sans-serif;

    --font-weight-normal: 600;
    --font-weight-bold: 800;
}

body.dark-mode {
    --color-text: #FEFAE0;
    --color-primary: #bbc893;
    --color-background-page: #1e1e1e;
    --color-secondary: #a06522;
    --color-accent: #da8a44;
    --color-link: var(--color-accent);
}